PORT=5001

# Google Sheets API (Google Cloud Console에서 획득)
GOOGLE_SHEET_ID=여러분의_구글_스프레드시트_ID
GOOGLE_SERVICE_ACCOUNT_EMAIL=여러분의_서비스_계정_이메일
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n여러분의_프라이빗_키\n-----END PRIVATE KEY-----\n"

# Notion API (Notion Integrations에서 획득)
NOTION_TOKEN=여러분의_노션_통합_토큰
NOTION_DB_ID=여러분의_노션_데이터베이스_ID
